In [5]:
import pandas as pd
import os

In [26]:
# Relationship files
file_list = [f'{i:02d}_relationships.csv' for i in range(1, 14)]
for file_name in file_list:
    print(file_name, "exists:", os.path.exists(file_name))

01_relationships.csv exists: True
02_relationships.csv exists: True
03_relationships.csv exists: True
04_relationships.csv exists: True
05_relationships.csv exists: True
06_relationships.csv exists: True
07_relationships.csv exists: True
08_relationships.csv exists: True
09_relationships.csv exists: True
10_relationships.csv exists: True
11_relationships.csv exists: True
12_relationships.csv exists: True
13_relationships.csv exists: True

In [27]:
dfs = []

In [28]:
# Loop
for file_name in file_list:
    if os.path.exists(file_name):
        df = pd.read_csv(file_name)
        dfs.append(df)
    else:
        print("none")

In [29]:
combined_df = pd.concat(dfs, ignore_index=True)

In [30]:
combined_df.to_csv('combined_relationships.csv', index=False)

In [31]:
combined_df

,Entity1,Relationship,Entity2,Date,Money
0,Australia,supply (verb: declare),China,NaN,NaN
1,the Perth USAsia Centre,collaboration (verb: recommend),the Climate Council,NaN,NaN
2,Sydney Energy Forum,supply (verb: publish),Reenergising Indo-Pacific Relations,12-13 July,NaN
3,China,transition (verb: create),Indo-Pacific,NaN,NaN
4,Australia,supply (verb: diversify),Indo-Pacific,NaN,NaN
...,...,...,...,...,...
185,Approximately US$1.2 trillion,supply (verb: focus),OECD,annually,Approximately US$1.2 trillion
186,Cambodia,finance (verb: mean),Laos,NaN,NaN
187,China,supply (verb: deliver),Indonesia,NaN,NaN
188,Bangkok,supply (verb: cool),Jakarta,NaN,NaN
189,Malaysia,supply (verb: redistribute),India,NaN,NaN